IIProjectClient/Service References/IITrainService/IIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_INamingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IEpcisEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INamingService_GetVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicle" />
  </wsdl:message>
  <wsdl:message name="INamingService_GetVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="INamingService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="INamingService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="INamingService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="INamingService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetFilenames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilenames" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetFilenames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilenamesResponse" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IEpcisEventService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="INamingService">
    <wsdl:operation name="GetVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/INamingService/GetVehicle" message="tns:INamingService_GetVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INamingService/GetVehicleResponse" message="tns:INamingService_GetVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/INamingService/GetLocation" message="tns:INamingService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INamingService/GetLocationResponse" message="tns:INamingService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/INamingService/GetAllLocations" message="tns:INamingService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INamingService/GetAllLocationsResponse" message="tns:INamingService_GetAllLocations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEpcisEventService">
    <wsdl:operation name="GetFilenames">
      <wsdl:input wsaw:Action="http://tempuri.org/IEpcisEventService/GetFilenames" message="tns:IEpcisEventService_GetFilenames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEpcisEventService/GetFilenamesResponse" message="tns:IEpcisEventService_GetFilenames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEpcisEventService/GetEvent" message="tns:IEpcisEventService_GetEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEpcisEventService/GetEventResponse" message="tns:IEpcisEventService_GetEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEpcisEventService/GetEvents" message="tns:IEpcisEventService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEpcisEventService/GetEventsResponse" message="tns:IEpcisEventService_GetEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_INamingService" type="tns:INamingService">
    <wsp:PolicyReference URI="#WSHttpBinding_INamingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVehicle">
      <soap12:operation soapAction="http://tempuri.org/INamingService/GetVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap12:operation soapAction="http://tempuri.org/INamingService/GetLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap12:operation soapAction="http://tempuri.org/INamingService/GetAllLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IEpcisEventService" type="tns:IEpcisEventService">
    <wsp:PolicyReference URI="#WSHttpBinding_IEpcisEventService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilenames">
      <soap12:operation soapAction="http://tempuri.org/IEpcisEventService/GetFilenames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap12:operation soapAction="http://tempuri.org/IEpcisEventService/GetEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/IEpcisEventService/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IIService">
    <wsdl:port name="WSHttpBinding_INamingService" binding="tns:WSHttpBinding_INamingService">
      <soap12:address location="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/NamingService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/NamingService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IEpcisEventService" binding="tns:WSHttpBinding_IEpcisEventService">
      <soap12:address location="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/EventService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/EventService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>