IIProjectClient/Service References/TrainServiceReference/TrainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22492/TrainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22492/TrainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22492/TrainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
      <xsd:import schemaLocation="http://localhost:22492/TrainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrainService_GetPassageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassageInfo" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetPassageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_SaveToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveToFile" />
  </wsdl:message>
  <wsdl:message name="ITrainService_SaveToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveToFileResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicle" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="ITrainService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainService_toDateTimeFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:toDateTimeFormat" />
  </wsdl:message>
  <wsdl:message name="ITrainService_toDateTimeFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:toDateTimeFormatResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrainService">
    <wsdl:operation name="GetPassageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/GetPassageInfo" message="tns:ITrainService_GetPassageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/GetPassageInfoResponse" message="tns:ITrainService_GetPassageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/SaveToFile" message="tns:ITrainService_SaveToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/SaveToFileResponse" message="tns:ITrainService_SaveToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/GetEvents" message="tns:ITrainService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/GetEventsResponse" message="tns:ITrainService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/GetVehicle" message="tns:ITrainService_GetVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/GetVehicleResponse" message="tns:ITrainService_GetVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/GetLocation" message="tns:ITrainService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/GetLocationResponse" message="tns:ITrainService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/GetAllLocations" message="tns:ITrainService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/GetAllLocationsResponse" message="tns:ITrainService_GetAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toDateTimeFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainService/toDateTimeFormat" message="tns:ITrainService_toDateTimeFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainService/toDateTimeFormatResponse" message="tns:ITrainService_toDateTimeFormat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrainService" type="tns:ITrainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPassageInfo">
      <soap:operation soapAction="http://tempuri.org/ITrainService/GetPassageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToFile">
      <soap:operation soapAction="http://tempuri.org/ITrainService/SaveToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/ITrainService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <soap:operation soapAction="http://tempuri.org/ITrainService/GetVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/ITrainService/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="http://tempuri.org/ITrainService/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toDateTimeFormat">
      <soap:operation soapAction="http://tempuri.org/ITrainService/toDateTimeFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrainService">
    <wsdl:port name="BasicHttpBinding_ITrainService" binding="tns:BasicHttpBinding_ITrainService">
      <soap:address location="http://localhost:22492/TrainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>